.loginbackground {
  background-image: url('../../../assets/img/login-background.jpg');
  background-size: 100% 100%;
}

.buttonFloat {
    text-align: right;
    margin: 0px auto 0px auto;
 
}

.title{
  text-align: center;
  font-size: 16px;

}